# version: '3.8'
services:
  
  db: 
    image: "postgres:18"
    ports:
      - "5432:5432"
    environment: 
      POSTGRES_USER: "aligned"
      POSTGRES_PASSWORD: "aligned"
      POSTGRES_DB: "aligned"
    volumes:
      - db_data:/var/lib/postgresql

volumes:
  db_data: 
